<html>
<head>
  <meta charset="utf-8">
  <title>SAR</title>
  {% block cssfile %}
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  {% endblock %}
</head>

<body>
  {% block content %}
  <form name="ohyeah" id="lihijuice">
    <input type='hidden' name='' value='' />
    <div class="header">
     <p>SAR</p>
   </div>
   <div class="description">
    <p>Enter the name of app!!</p>
  </div>
  <div class="input">
    <input type="text" class="button" id="tag" name="tag" placeholder="Enter app name here...">
    <input type="submit" class="button" id="submit" value="Search">
  </div>
</form>
{% endblock %}
</body>


</html>
